* {
  font-family: Montserrat, sans-serif;
  transition: 0.25s ease;
}
.title-name {
  font-family: Rubik, sans-serif;
}
a {
  color: black !important;
}
:root {
  --blue: rgb(66, 135, 245);
  --darkblue: rgb(0, 46, 120);
  --red: rgb(255, 0, 0);
  --margin: 1rem;
  /* --padding: 1rem; */
}
@page {
  size: 21cm 29.7cm;
  margin: 30mm;
}
.df {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.page {
  /* margin-top: 0.25cm; */
  /* margin-bottom: 0.25cm; */
  height: 29.7cm;
  width: 21cm;
  /* margin: var(--margin); */
  padding: var(--padding);
  /* border: solid 0.25px gray; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-name {
  /* margin-left: 1cm; */
  /* margin-top: 1cm; */
  display: flex;
  text-align: center;
  align-items: center;
  /* font-size: 40px; */
  font-size: 27pt;
  height: 40px;
  font-weight: 700;
}
.title-job {
  /* margin-left: 1cm; */
  font-size: 20px;
  color: var(--blue);
  font-weight: 700;
  /* font-size: 25px; */
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links-container {
  /* margin-top: 3.5mm; */
  /* margin-left: 10mm; */
  width: 190mm;
  height: fit-content;
  /* border: 1px solid gray; */
  display: flex;
}
.link {
  text-decoration: none;
  color: black;
  /* font-size: 12.5px; */
  font-size: 9pt;
  vertical-align: middle;
  margin-left: 5px;
}

.link:hover {
  color: rgb(66, 135, 245) !important ;
}

.column2 {
  margin-left: 50px;
}

.work-experience,
.hobbies {
  /* margin-top: 2.5mm; */
  /* margin-left: 10mm; */
  /* width: 190mm; */
  /* border: solid black 1px; */
  width: 110mm;
  height: fit-content;
}
.date {
  margin-left: 5px;
  /* font-size: 12.5px; */
  font-size: 9pt;
}
.row {
  display: flex;
}
.work-experience-item {
  margin-bottom: 10px;
}
.work-experience-item-location {
  margin-left: 5px;
}
.work-experience-item-title {
  margin-top: 5px;
  font-size: 12pt;
  /* font-weight: 400; */
  font-weight: 600;
}
.work-experience-item-company,
.education-item-school {
  color: var(--blue);
  font-weight: 600;
  font-size: 10pt;
}
.work-experience-item-content {
  /* font-size: 9pt; */
  font-weight: 500;
}

hr {
  height: 2.5px !important;
  border: 0;
  background-color: black;
}

.main-row2 {
  display: flex;
}

.main-row2-col2 {
  margin-left: 0.66cm;

  margin-right: 1cm;
}

.main-row1 {
  margin-left: 1cm;
  margin-top: 1cm;
}

.education-item-courses-title {
  font-weight: 600;
  margin-bottom: 2.5px;
  font-size: 9pt;
}
.education-item-title {
  /* font-size: 20px; */
  font-size: 12pt;
  font-weight: 600;
}
.education-item-field {
  font-size: 10pt;
  font-weight: 500;
}
.title-work-experience,
.title-education,
.title-career,
.title-skills,
.title-certifications,
.title-hobbies {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18pt;
}
.career-content {
  text-align: justify;
  font-size: 10pt;
  font-weight: 500;
}

.main-row2-col1 {
  margin-left: 1cm;
}

.work-experience-item-company a,
.education-item-school a {
  color: var(--blue) !important;
}
.work-experience-item-company a:hover {
  color: var(--darkblue) !important;
}
.education-item-school a:hover {
  color: var(--darkblue) !important;
}

.link-location a:hover {
  color: var(--blue) !important;
}

.education-item {
  margin-bottom: 10px;
}
:root {
  --logohw: 32px;
}
.mylogo {
  width: var(--logohw);
  height: var(--logohw);
  border-radius: 100px;
}
.title-logo {
  width: var(--logohw);
  height: var(--logohw);
  margin-left: 10px;
}
.main-row1-inner1 {
  display: flex;
  align-items: center;
}

.main-row1-col1 {
  width: 420px;
}
.main-row1-col2 {
  width: 300px;
}
.linktreeqr,
.demositeqr {
  width: 100px;
  height: 100px;
  opacity: 50%;
  margin-top: 10px;
  margin-right: 20px;
}
.demositeqr {
  width: 97px;
}
.linktreeqr-title,
.demositeqr-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  /* font-size: 18px; */
  font-size: 12pt;
  opacity: 70%;
}
.demositeqr-title {
  font-size: 12pt;
}
.linktreeqr-txt,
.demositeqr-txt {
  width: fit-content;
  margin-top: -7px;
  font-family: Rubik, sans-serif;
}
.demositeqr-txt {
  /* word-spacing: -5px; */
}
.main-row1 {
  display: flex;
}
.main-row1-col2 {
  display: flex;
  justify-content: flex-end;
  height: 138.48px;
  margin-right: 45px;
}

.item {
  align-items: center;
}
.skills-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.skills-item {
  display: flex;
  align-items: center;
}
.css {
  width: 19px;
  height: 19px;
}
.career,
.skills {
  margin-bottom: -5px;
}
.justify {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 9pt;
  text-justify: "inter-word";
  font-weight: 500;
}

.importantbold {
  font-weight: 600!important;
}
.biggerfont {
  font-size: 10pt!important;
}