@mixin educationitem {
  .education-item {
    margin-bottom: 10px;
    .education-item-title {
      font-size: 12pt;
      font-weight: 600;
    }
    .education-item-field {
      font-size: 10pt;
      font-weight: 500;
    }
    .education-item-school {
      color: var(--blue);
      font-weight: 600;
      font-size: 10pt;
      & a {
        color: var(--blue) !important;
      }
      & :hover {
        color: var(--darkblue) !important;
      }
    }
  }
  .row {
    display: flex;
    .education-item-date {
      .date {
        margin-left: 5px;
        font-size: 9pt;
      }
    }
    .education-item-location {
      margin-left: 5px;
      .link-location {
        & :hover {
          color: var(--blue) !important;
        }
      }
      .date {
        margin-left: 5px;
        font-size: 9pt;
      }
    }
  }
  .education-item-courses {
    .education-item-courses-title {
      font-weight: 600;
      margin-bottom: 2.5px;
      font-size: 9pt;
    }
  }
}
